<app-header></app-header>
<div class="container">
    <div class="hero-sect">
        <div class="one-hero">
            <h1>Get your <span>dream</span> job today</h1>
            <p>Find Jobs, Employment & Career Opportunities</p>
            <form class="hero-form">
                <i class="fa-solid me-3 fa-magnifying-glass"></i>
                <input class="hero-input" placeholder="Jobs, keyword or company name" type="text" name="" id="">
                <button class="btn sub-btn" type="submit">Search</button>
            </form>
        </div>
        <div class="two-hero">
            <img src="./assets/hero_img.png" alt="">
        </div>
    </div>
    <div class="partners-sect">
        <img src="./assets/talentql.png" alt="">
        <img src="./assets/alpha.png" alt="">
        <img src="./assets/flutterwave.png" alt="">
        <img src="./assets/paystack.png" alt="">
        <img src="./assets/enyata.png" alt="">
    </div>
    <div class="categories-sect">
        <div class="one-cat">
            <h3>Browse Categories</h3>
            <p>Over 10,000 jobs currently available</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris hac odio ut ut turpis cum sed vitae amet. 
                Neque volutpat enim amet urna dui, id sit est. 
                Ac integer mauris diam dolor diam neque sed velit. 
                Malesuada aliquam, molestie faucibus porttitor ac.</p>
            <button class="browse-btn">Browse all categories <i class="fa-solid ms-2 fa-arrow-right"></i></button>
        </div>
        <div class="two-cat">
            <app-browse-categories></app-browse-categories>
        </div>
        <img class="cat-img" src="./assets/vector.png" alt="">
    </div>
    <div class="jobs-sect">
        <h3>Browse Jobs</h3>
        <p>Over 10,000 jobs currently available</p>
        <app-browse-jobs></app-browse-jobs>
    </div>
</div>
<div class="ctas">
    <img src="./assets/bg-image2.png" alt="">
    <h1>Your Hiring Partner</h1>
    <p>Find skilled talents and hire them immediately</p>
    <div class="btns">
        <button class="post-btn">Post a job</button>
        <button class="hire-btn">Start Hiring</button>
    </div>
</div>
<div class="container">
    <div class="testimony-sect">
        <div class="t-first">
            <div class="t-card">
                <img src="./assets/blackmansuit.jpg" alt="">
                <div class="t-describe">
                    <p class="mb-0">Michael Jacobs</p>
                    <p>Cloudbrick Limited</p>
                    <p class="t-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, </p>
                </div>
            </div>
            <div class="t-card2">
                <img src="./assets/blackmansuit.jpg" alt="">
                <div class="t-describe">
                    <p class="mb-0">Michael Jacobs</p>
                    <p>Cloudbrick Limited</p>
                    <p class="t-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, </p>
                </div>
            </div>
        </div>
        <div class="t-text">
            <p>What do people have to say?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hac odio ut ut turpis cum sed vitae amet. Neque volutpat enim amet urna dui, id sit est. Ac integer mauris diam dolor diam neque sed velit. Malesuada aliquam, molestie faucibus porttitor ac.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>